*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; /*清除点击默认的高亮效果*/
    -webkit-box-sizing: border-box; /*以你的border开始计算你的宽度*/
}

body {
    font-size: 14px;
    font-family: "微软雅黑", sans-serif; /*第二个是手机的一个默认的字体*/
    color: #000;
}
html,body{
    width:100%;
    height:100%;
}
html,body{
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

i {
    font-style: normal
}

a {
    text-decoration: none;
    color: #000;
}

ul,ol,dl,li {
    list-style: none;
}

input, textarea, button {
    border: none;
    resize: none;
    outline: none; /*清除选中效果*/
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none; /*清楚浏览器默认的样式*/
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0);
}

/*xbt*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 12px
}

i {
    font-style: normal
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a, img {
    display: block;
}

/*end*/

/*清除浮动*/
.clearfix::before,
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/*左浮动 */
.fl {
    float: left;
}

/*右浮动 */
.fr {
    float: right;
}

.jy_layout {
    min-width: 300px;
    margin: 0 auto;
    max-width: 750px;
    position: relative;
    /*overflow: hidden;*/
    background: #f2f2f2;
}

/* 头部 */
.jy_header {
    height: 0.88rem;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #000;
    line-height: 0.88rem;

}
.jy_header .header_l {
    font-size: 0.34rem;
    margin-left: 0.23rem;
}

.jy_header .header_r {
    font-size: 0.48rem;
    margin-right: 0.19rem;
}

.jy_header .header_m {
    text-align: center;
    font-size: 0.36rem;
    font-weight: 500;
}

.navRoot {
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f2f2f2;
}

.navLink {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    height: 1rem;
    color: rgba(255, 255, 255, 0.3);
    background: #000;
}

.navLink.active {
    color: #fff
}

.navRoot .icon {
    display: block;
    margin-bottom: 0.1rem;
    font-size: 0.44rem;
}

.navLinkText {
    display: block;
    line-height: 1;
    font-size: 0.2rem;
}

.blackBtn {
    height: 9rem;
    background: #000;
    color: #fff;
    text-align: center;
    width: 6.38rem;
    height: 0.9rem;
    font-size: 0.26rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.redBtn {
    background: #911D1D;
    margin-top: 0.5rem;
}
/* 阴影输入框 */
.inputBox {
    width: 7.03rem;
    height: 1.02rem;
    font-size: 0.24rem;
    padding-left: 0.2rem;
    margin-top: 0.22rem;
    color: #ccc;
    -moz-box-shadow: 0.02rem 0.02rem 0.06rem #B0B0B0;
    -webkit-box-shadow: 0.02rem 0.02rem 0.06rem #B0B0B0;
    box-shadow: 0.02rem 0.02rem 0.06rem #B0B0B0;
}

/* 背景透明 */
.transparentBg {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* 字体大小 */
.fontSize_24{
  font-size: 0.24rem;
}

/* 绝对定位 */
.positionAb{
    position: absolute;
    z-index: 111;
}
